html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}
#admin-menu, #admin-menu .dropdown {z-index:99999;}
.tabs.primary li {
    display: inline;
    float: left;
    margin-right: 1em;
}
.tabs.primary {
    display: block;
    float: left;
}
#palette .form-item {
    width: 26em;
}
#palette .lock {
    width: 15px;
    height: 25px;
    background: url(images/lock.png) no-repeat 50% 2px;
    cursor: pointer;
}
#palette .form-item label {
    line-height: 1;
    width: 15em;
}

/* fix for long logo text - vero 03/04/2017 */
.usa-logo{
max-width: 55%;
bottom:auto;
}

@media (max-width: 950px){
.usa-logo{
max-width: calc(100% - 90px);
line-height: 1em;
display: table;
height: 40px;
}
.usa-logo-text{
display: table-cell;
vertical-align: middle;
padding-top: 2px;
}
.usa-navbar{
height: 40px;
overflow: hidden;
}
}

@media screen and (min-width: 951px){
.usa-header-basic .usa-navbar{
    width: 44%;
    position: absolute;
    z-index: 10000;
    display: table;
    height: 95px;
    overflow: hidden;
}
.usa-header-basic .usa-logo .usa-logo-text a{
    display: table-cell;
    vertical-align: middle;
    height: 95px;
}
.usa-header-basic .usa-logo{
bottom: auto;
}
}

